#header {z-index:-1;}
body{
	margin:0 auto;
	font-size:16px;
}

.header__container{

	display:flex;
	justify-content: center;

	width:100%;

}

.container__logo{
	display:flex;
	font-size:25px;
	font-family: 'Recursive', sans-serif;
}

.container__menu{
	display: flex;
	font-family: 'Recursive', sans-serif;
	font-size: 14px;
}

.container__menu img{
	width: 45px;
	height:45px;
	border-radius: 35px;
}

.__menu-list{
 	list-style-type: none;
	align-items: center;
	display: flex;
}

.__menu-list a{
	text-decoration: none;
	
}

.__menu-list li {
	padding-left: 4.51%;
}

.border{
	border:3px solid black;
	padding: 15px 20px;
	border-radius:25px;
}

.preview{
	display:flex;
	align-items: center;
	justify-content: center;
	background: url(bg.png) no-repeat center / cover;
	height:100vh;
}

.preview__card{

	color:white;
	text-align:center;
}

.preview__card h1{
	font-family: "ChunkFive Regular";
	color:white;
	font-size: 3em;
	white-space: nowrap;
	text-transform: uppercase;
}

.preview__card button{
	padding:20px 25px;
	background-color:#ffffa6;
	text-transform: uppercase;
	border-radius:30px;
	border:none;
}

.__color{
	color:#029780;
}

@font-face {
font-family: "ChunkFive Regular";
src: url("ChunkFive-Regular.otf") format("opentype");
}

.wrap{
	max-width:1400px;
	margin:0 auto;
}

.about{
	display:flex;
	align-items:center;
	justify-content: center;
	padding:30px 0;
}

.about__text{
	width:50%;
}

.about__text h2{

	font-size: 60px;
	font-family: "ChunkFive Regular";
	color:#029780;
	margin:0 0 30px 0;
	font-size: 2.2rem;
}

.color_block-3{
	color:#00929E;
}

.about__text p{
	color:gray;
}

.footer{
	padding:30px 0;
	background-color:#bdf271;
}

.footer__wrap{
	display:flex;
	align-items: center;
	justify-content: center;
	max-width:1400px;
	margin:0 auto;
}

.footer__text{
	width: 50%;
	color:white;
}



.footer__text h2{
	font-size: 2.2rem;
	font-family: "ChunkFive Regular";
	color:white;
	margin:0;


}

.footer__form{
	width:50%;
}

.footer__input{
	


}

.__email{
	height: 70px;
	width: 420px;
	border:3px solid green;
}

.__submit{
	font-size: 70px;
	font-family: "ChunkFive Regular";
	border:1px solid #198D9A;
	background-color:#198D9A;
	font-weight:300;
	width:70px;
	height: 76px;
	text-align: center;
	color:white;
}


